<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QPU_SerialPort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QPU_SerialPort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <QPU_SerialPort.Properties.Settings>
      <setting name="OzelBtnId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="KioskIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="DataSource" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="DBUserName" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="DbName" serializeAs="String">
        <value>qcu</value>
      </setting>
      <setting name="DBPass" serializeAs="String">
        <value>nichtwar</value>
      </setting>
    </QPU_SerialPort.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <QPU_SerialPort.Properties.Settings>
      <setting name="QCUConStr" serializeAs="String">
        <value>Data Source=localhost;Initial Catalog=qcu;Persist Security Info=True;User ID=root;Password=nichtwar</value>
      </setting>
    </QPU_SerialPort.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
